<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<title>EaxyExam</title>
</head>
<body>

<div class="top-menu">
	<h1 class="user-name">Olá,Indiano</h1>
	<h2 class="date">Segunda feira, 24 de junho de 2019, 20:30:04</h2>
</div>
<div class="side-menu">
			<h3 class="gestor">Indiano Morenão</h3>
			<h4 class="role">Médico Pesquisador</h4>
			<div class="border"></div>
			<ul class="menu-font home"><span><i class="fas fa-home"></i></span>Home</ul>
			<ul class="menu-font pacientes"><span><i class="fas fa-home"></i></span>Pacientes</ul>
			<ul class="menu-font exames"><span><i class="fas fa-home"></i></span>Exames</ul>
			<ul class="menu-font r-exames"><span><i class="fas fa-home"></i></span>Realizar Exame</ul>
			<ul class="menu-font resultados"><span><i class="fas fa-home"></i></span>Resultados</ul>
			<ul class="menu-font analises"><span><i class="fas fa-home"></i></span>Análises</ul>
</div>


</body>
</html>

