<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>EaxyExam</title>
</head>

<body>

    <div class="top-menu">
        <h1 class="user-name">Olá,Indiano</h1>
        <h2 class="date">Segunda feira, 24 de junho de 2019, 20:30:04</h2>
        <img class="rounded-pill" src="https://media.licdn.com/dms/image/C4E03AQGl3lF3qmr4uw/profile-displayphoto-shrink_200_200/0?e=1573689600&amp;v=beta&amp;t=sva8ts84G_-T9gzW75okXvIuPhgazvb2t6o7FB14CSc">
    </div>
    <div class="side-menu">
        <h3 class="gestor">Indiano Morenão</h3>
        <h4 class="role">Médico Pesquisador</h4>
        <div class="border"></div>
        <div class="item-menu">
            <ul class="menu-font home"><span class="ihome"><a href="index.html"><img src="icons/home_24px.png"></span>Home</a>
            </ul>
            <ul class="menu-font pacientes"><span class="ipacientes"><a href="pacientes.html"><img src="icons/person_outline_24px.png"></span>Pacientes</a>
            </ul>
            <ul class="menu-font exames"><span class="iexames"><a href="#"><img src="icons/file_copy_24px.png"></span>Exames</a>
            </ul>
            <ul class="menu-font r-exames"><span class="iexames"><a href="#"><img src="icons/add_circle_outline_24px.png"></span>Realizar Exame</a>
            </ul>
            <ul class="menu-font resultados"><span class="iresultados"><a href="#"><img src="icons/check_circle_outline_24px.png"></span>Resultados</a>
            </ul>
            <ul class="menu-font analises"><span class="ianalises"><a href="#"><img src="icons/assessment_24px.png"></span>Análises</a>
            </ul>

            <ul class="menu-font conf"><span class="iresultados"><a href="#"><img src="icons/settings_24px.png"></span>Configurações</a>
            </ul>
            <ul class="menu-font sair"><span class="ianalises"><a href="#"><img src="icons/Fill.png"></span>Sair</a>
            </ul>
        </div>
    </div>


    <section>
        <h1 class="att">Pacientes</h1>
        <form action="" method="">
        <input class="search" type="search" name="search" placeholder="Pesquisar">
        </form>
        <a class="btn-novo" href="novo_paciente.html"><span class="btn-text">Novo</span></a>
        <table class="tab">
            <tr class="table-topo">
                <th class="ta text-grey">Nome</th>
                <th class="ti text-grey">Email</th>
                <th class="tat text-grey">Data Nascimento</th>
                <th class="tc text-grey">Peso</th>
                <th class="tac text-grey">Altura</th>
                <th class="taz text-grey">Histórico</th>
            </tr>
            <div class="border2"></div>
           <tr class="tr1">
                <td class="tad2 padding text-black">Iago Agualuza</td>
                <td class="tid2 padding text-black">iago@id.uff.br</td>
                <td class="tatd2 padding text-black">26/08/1994</td>
                <td class="tcd2 padding text-black">94 kg</td>
                <td class="tacd2 padding text-black">1,68 m</td>
                <td class="tazd2 padding"><a href="" style="color: #109CF1">Ver</a></td>
            </tr>
             <tr class="tr1">
                <td class="tad2 padding text-black">Jorge Stief</td>
                <td class="tid2 padding text-black">jorge@id.uff.br</td>
                <td class="tatd2 padding text-black">26/08/1994</td>
                <td class="tcd2 padding text-black">94 kg</td>
                <td class="tacd2 padding text-black">1,68 m</td>
                <td class="tazd2 padding"><a href="" style="color: #109CF1">Ver</a></td>
            </tr>
             <tr class="tr1">
                <td class="tad2 padding text-black">Mauricio Leonardo</td>
                <td class="tid2 padding text-black">mauricio@id.uff.br</td>
                <td class="tatd2 padding text-black">26/08/1994</td>
                <td class="tcd2 padding text-black">94 kg</td>
                <td class="tacd2 padding text-black">1,68 m</td>
                <td class="tazd2 padding"><a href="" style="color: #109CF1">Ver</a></td>
            </tr>
             <tr class="tr1">
                <td class="tad2 padding text-black">Hiaggo Machado</td>
                <td class="tid2 padding text-black">hiaggo@id.uff.br</td>
                <td class="tatd2 padding text-black">26/08/1994</td>
                <td class="tcd2 padding text-black">94 kg</td>
                <td class="tacd2 padding text-black">1,68 m</td>
                <td class="tazd2 padding"><a href="" style="color: #109CF1">Ver</a></td>
            </tr>
             <tr class="tr1">
                <td class="tad2 padding text-black">Diego Cacau</td>
                <td class="tid2 padding text-black">diego@id.uff.br</td>
                <td class="tatd2 padding text-black">26/08/1994</td>
                <td class="tcd2 padding text-black">94 kg</td>
                <td class="tacd2 padding text-black">1,68 m</td>
                <td class="tazd2 padding"><a href="" style="color: #109CF1">Ver</a></td>
            </tr>
             <tr class="tr1">
                <td class="tad2 padding text-black">Ronald Maymone</td>
                <td class="tid2 padding text-black">ronald@id.uff.br</td>
                <td class="tatd2 padding text-black">26/08/1994</td>
                <td class="tcd2 padding text-black">94 kg</td>
                <td class="tacd2 padding text-black">1,68 m</td>
                <td class="tazd2 padding"><a href="" style="color: #109CF1">Ver</a></td>
            </tr>
           
          
           
        </table>

    </section>



</body>

</html>