{% load static %}
<head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    <title>{% block title %}                
            {% endblock %}</title>
</head>

<body>

    <div class="top-menu">
        <h1 class="user-name">Olá,{{ profile.name }}</h1>
        <h2 class="date"></h2>
        
    </div>
    <div class="side-menu">
        <h3 class="gestor">{{ profile.name }}</h3>
        <h4 class="role">Médico Pesquisador</h4>
        <div class="border"></div>
        <div class="item-menu">
            <ul class="menu-font home"><span class="ihome"><a href="{% url 'index' %}"><img src="{% static 'icons/home_24px.png' %}"></span>Home</a>
            </ul>
            <ul class="menu-font pacientes"><span class="ipacientes"><a href="{% url 'list_patient' %}"><img src="{% static 'icons/person_outline_24px.png' %}"></span>Pacientes</a>
            </ul>
            <ul class="menu-font exames"><span class="iexames"><a href="#"><img src="{% static 'icons/file_copy_24px.png' %}"></span>Exames</a>
            </ul>
            <ul class="menu-font r-exames"><span class="iexames"><a href="{% url 'new_exam' %}"><img src="{% static 'icons/add_circle_outline_24px.png' %}"></span>Realizar Exame</a>
            </ul>
            <ul class="menu-font resultados"><span class="iresultados"><a href="{% url 'results' %}"><img src="{% static 'icons/check_circle_outline_24px.png' %}"></span>Resultados</a>
            </ul>
            <ul class="menu-font analises"><span class="ianalises"><a href="#"><img src="{% static 'icons/assessment_24px.png' %}"></span>Análises</a>
            </ul>

            <ul class="menu-font conf"><span class="iresultados"><a href="{% url 'configuration' %}"><img src="{% static 'icons/settings_24px.png' %}"></span>Configurações</a>
            </ul>
            <ul class="menu-font sair"><span class="ianalises"><a href="{% url 'logout' %}"><img src="{% static 'icons/Fill.png' %}"></span>Sair</a>
            </ul>
        </div>
    </div>
     <div id="content">

            {% if messages %}
                <ul class="messages text-white">
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                            <li{% if message.tags %} class="{{ message.tags }} bg-danger"{% endif %}>{{ message }}</li>
                        {% else %}
                            <li{% if message.tags %} class="{{ message.tags }} bg-success"{% endif %}>{{ message }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
            

           <section>
     {% block content %}{% endblock %}

    </section>
        </div>

        {# Global javascript #}

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

        <script src="{% static 'js/popper.min.js' %}"></script>

        <script src="{% static 'js/bootstrap.min.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
</body>
</html>  
