{% extends "base.html" %}
{% load static %}

{% block title %}
    EasyExam - Home
{% endblock %}

{% block extra_css %}
    
{% endblock %}




{% block content %}

<h1 class="att">Últimas atualizações</h1>

        <table class="tab">
            <tr class="table-topo">
                <th class="ta text-grey">Atividade</th>
                <th class="ti text-grey">Informações</th>
                <th class="tat text-grey">Atualizado por</th>
                <th class="tc text-grey">Cargo</th>
                <th class="tac text-grey">Ações</th>
                <th class="taz text-grey">Atualizado em</th>
            </tr>
            <div class="border2"></div>
           <tr class="tr1">
                <td class="tad padding text-black">Exame pronto</td>
                <td class="tid padding text-black">Resultado do exame 123 disponível</td>
                <td class="tatd padding text-black">Rubi</td>
                <td class="tcd padding text-black">Médica</td>
                <td class="tacd padding"><a href="" style="color: #109CF1">Ver</a></td>
                <td class="tazd padding text-black">5 minutos</td>
            </tr>
            <tr class="tr1">
                <td class="tad padding text-black">Exame pronto</td>
                <td class="tid padding text-black">Resultado do exame 123 disponível</td>
                <td class="tatd padding text-black">Rubi</td>
                <td class="tcd padding text-black">Médica</td>
                <td class="tacd padding"><a href="" style="color: #109CF1">Ver</a></td>
                <td class="tazd padding text-black">5 minutos</td>
            </tr>
            <tr class="tr1">
                <td class="tad padding text-black">Exame pronto</td>
                <td class="tid padding text-black">Resultado do exame 123 disponível</td>
                <td class="tatd padding text-black">Rubi</td>
                <td class="tcd padding text-black">Médica</td>
                <td class="tacd padding"><a href="" style="color: #109CF1">Ver</a></td>
                <td class="tazd padding text-black">5 minutos</td>
            </tr>
            <tr class="tr1">
                <td class="tad padding text-black">Exame pronto</td>
                <td class="tid padding text-black">Resultado do exame 123 disponível</td>
                <td class="tatd padding text-black">Rubi</td>
                <td class="tcd padding text-black">Médica</td>
                <td class="tacd padding"><a href="" style="color: #109CF1">Ver</a></td>
                <td class="tazd padding text-black">5 minutos</td>
            </tr>
          
           
        </table>

{% endblock %}


{% block extra_js %}
    
{% endblock %}
