{% extends "base.html" %}
{% load static %}

{% block title %}
    EasyExam - Paciente
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css"/>
{% endblock %}




{% block content %}

<div class="container">

    <div class="col-12 mb-4">
        <h2>Exames do paciente - {{patient.name}}</h2>
        <h4>CPF: {{patient.cpf}}</h4>
    </div>

    <div class="row mb-4">
        <div class="col-8">
            <input class="form-control" type="text" name="search_value">
        </div>
        <div class="col-2">
            <button>Procurar</button>
        </div>
        <div class="col-2">
            <a href="{% url 'new_exam_pk' pk=patient.pk %}" class="btn btn-primary">Novo</a>
        </div>
    </div>


    <table id="asset-table" class="display table table-striped text-left" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Data</th>
                <th>Ver</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>


            {% for exam in exams %}
                <tr>
                    <td><span>{{ exam.pk }}</span></td>
                    <td><span>{{ exam.status }}</span></td>
                    <td><span>{{ exam.date }}</span></td>
                    <td><span> </span></td>
                    <td><span> </span></td>
                </tr>
            {% endfor %}

            

        </tbody>
        <tfoot>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tfoot>
    </table>
</div>

{% endblock %}


{% block extra_js %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
{% endblock %}
