{% extends "base.html" %}
{% load static %}

{% block title %}
    EasyExam - Novo Paciente
{% endblock %}

{% block extra_css %}

{% endblock %}




{% block content %}
    <h1 class="att">Resultados</h1>
        <form action="" method="">
        <input class="search" type="search" name="search" placeholder="Pesquisar">
        </form>
        <a href="novo_paciente.html"><button class="btn-novo"><span class="btn-text">Sincronizar</span></button></a>
        <table class="tab">
           <span class="iprint"><a href="#"><img src="{% static 'icons/print_24px.png' %}"> <div class="print">Imprimir</div></span></a>
            <span class="iexportar"><a href="#"><img src="{% static 'icons/download_24px.png' %}"> <div class="exp">Exportar</div></span></a>
            <div class="border2"></div>
           <tr class="tr1">
                <td class="tad3 padding text-black"><input type="checkbox" name="selecionado" class="inp"> Exame ID 123</td>
                <td class="tid3 padding text-black">Pronto</td>
                <td class="tatd3 padding text-black">25/06/2019</td>
                <td class="tcd3 padding text-black">Areeba Macnally</td>
                <td class="tacd3 padding"><a href="" style="color: #109CF1">Ver</a></td>
                <td class="tazd3 padding"><a href="" style="color: #109CF1">Enviar para paciente por email</a></td>

            </tr> 
             <tr class="tr1">
                <td class="tad3 padding text-black"><input type="checkbox" name="selecionado" class="inp"> Exame ID 123</td>
                <td class="tid3 padding text-black">Pronto</td>
                <td class="tatd3 padding text-black">25/06/2019</td>
                <td class="tcd3 padding text-black">Areeba Macnally</td>
                <td class="tacd3 padding"><a href="" style="color: #109CF1">Ver</a></td>
                <td class="tazd3 padding"><a href="" style="color: #109CF1">Enviar para paciente por email</a></td>

            </tr> 
             <tr class="tr1">
                <td class="tad3 padding text-black"><input type="checkbox" name="selecionado" class="inp"> Exame ID 123</td>
                <td class="tid3 padding text-black">Pronto</td>
                <td class="tatd3 padding text-black">25/06/2019</td>
                <td class="tcd3 padding text-black">Areeba Macnally</td>
                <td class="tacd3 padding"><a href="" style="color: #109CF1">Ver</a></td>
                <td class="tazd3 padding"><a href="" style="color: #109CF1">Enviar para paciente por email</a></td>

            </tr> 
             <tr class="tr1">
                <td class="tad3 padding text-black"><input type="checkbox" name="selecionado" class="inp"> Exame ID 123</td>
                <td class="tid3 padding text-black">Pronto</td>
                <td class="tatd3 padding text-black">25/06/2019</td>
                <td class="tcd3 padding text-black">Areeba Macnally</td>
                <td class="tacd3 padding"><a href="" style="color: #109CF1">Ver</a></td>
                <td class="tazd3 padding"><a href="" style="color: #109CF1">Enviar para paciente por email</a></td>

            </tr> 
             <tr class="tr1">
                <td class="tad3 padding text-black"><input type="checkbox" name="selecionado" class="inp"> Exame ID 123</td>
                <td class="tid3 padding text-black">Pronto</td>
                <td class="tatd3 padding text-black">25/06/2019</td>
                <td class="tcd3 padding text-black">Areeba Macnally</td>
                <td class="tacd3 padding"><a href="" style="color: #109CF1">Ver</a></td>
                <td class="tazd3 padding"><a href="" style="color: #109CF1">Enviar para paciente por email</a></td>

            </tr> 
        </table>

    
        
       
{% endblock %}


{% block extra_js %}

{% endblock %}






